#barra{

    padding: 0 30px;
    width: 100%;
    height: 52px;
    background-color: #283e4a;
    position: fixed;
    top: 0;
    left: 0;
}

img{
    width:32px; 
    height:32px; 
    position: fixed;
    margin-top: 10px;  
    margin-left: 20%;
      
    
}

#barra input{

    border-radius: 2px;
    margin-top :13px;
}

#barra-navegar {
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 52px;
    background-color: #283e4a;
    top: 0;
    left: 0;
}






#barra-navegar ul{
    list-style: none;  /* Elimina las viñetas de las lstas */
    margin: 0;
    padding: 0; 
    display: inline-block;
   
}

#barra-navegar ul li {

    display: inline-block; /* Los pone en posicion horizontal. */ 
    
}

#barra-navegar ul li a{
    color: white;
    text-decoration: none; /* elimina el subrayado*/
    display: block; /* se vuelven bloques*/
    padding: 10px 10px;
    
}



